.navbar {
  background-color: var(--bg-second);
  padding: var(--gap-m) 0;
  border-bottom: 2px solid var(--accent);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: var(--text-l);
  font-weight: bold;
  color: var(--accent);
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  padding: var(--gap-s) var(--gap-m);
  color: var(--text);
  margin-left: var(--gap-s);
}

.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}